@using MVCExampleProjekt.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
 
<style>
    td {
        border: solid 1px black;
        padding: 10px;
    }
</style>
@model List<Order>
<a class="nav-link" asp-area="" asp-controller="Kund" asp-action="newKund">läg till Produkt</a>
<div id="kundList">
    @{
        <table>
            <tr>
                <td>id:</td>
                <td>customer:</td>
                <td>orderStatus:</td>
                <td>orderDate:</td>
                <td>purchasinglist:</td>
                <td></td>
            </tr>

            @foreach (Order O in Model)
            {

                <tr>
                    <td>
                        <h3>@O.id</h3>
                    </td>
                    <td>
                        <h3>@O.customer.realname</h3>
                    </td>
                    <td>
                        <h3>@O.orderStatus</h3>
                    </td>
                    <td>
                        <h3>@O.orderDate</h3>
                    </td>
                    <td>
                        <div>
                            <table>
                                @foreach (Produkt P in O.purchasinglist){
                                    <tr>
                                        <td>@P.id</td>
                                        <td>@P.produktnamn</td>
                                        <td>@P.pris</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "redigeraOrder", "Order", new {id = @O.id})
                    </td>
                </tr>

            }
        </table>
    }
</div>
