@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    form{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    label{
        width: 100px;
        border:solid 1px;
    }
    #in{

    }
    h2{
        text-align:center;
    }
</style>
@model Kund
@{
    <form action="" method="dialog" class="simpleform">
        <div id="in">
            <h2>ID:</h2>
            <h1>@Model.id</h1>
        </div>
        <div id="in">
            <label for="realname">realname:</label>
            <input type="text" id="realname" name="realname" value="@Model.realname">
        </div>
        <div id="in">
            <label for="username">username:</label>
            <input type="text" id="username" name="username" value="@Model.username">
        </div>
        <div id="in">
            <label for="mail">mail:</label>
            <input type="text" id="mail" name="mail" value="@Model.mail">
        </div>
        <div id="in">
            <label for="age">age:</label>
            <input type="number" id="age" name="age" value="@Model.age">
        </div>
        <div id="in">
            @Html.ActionLink("Confirm", "index", "Kund")
        </div>
    </form>
}


